@use '../utilities/variables' as *;

main{
    .container {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    section{
        padding: 0.5rem;
        h2{
            font-size: $alturaLetra-subtitulo;
            font-weight: 500px;
        }
        h3{
            font-size: $alturaLetra-otros-titulos;
        }
        div{
            div{
                display: inline-block;

                ul{
                    display: inline-flex;
                    gap: 16px; 

                    div{
                        li{
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}